*{
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

body{
    width: 1440px;
    margin: auto;
    background-image: url(images/bg-pattern-bottom-desktop.svg);
    background-position: right;
    background-size: 82%;
    background-repeat: no-repeat;
}

:root{
    --primary-dark: hsl(300, 43%, 22%);
    --primary-soft: hsl(333, 80%, 67%);
    --neutral-dark-gray: hsl(303, 10%, 53%);
    --neutral-light: hsl(300, 24%, 96%);
}

h1{
    color: var(--primary-dark);
    font-size: 40px;
}

.parrafo-titulo{
    color: var(--neutral-dark-gray);
}

.heading{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-size: 32%;
    background-repeat: no-repeat;
}

.contenedor-titulo{
    width: 50%;
    padding: 25px;
    margin-left: 55px;
}

h1{
    width: 55%;
}
.parrafo-titulo{
    line-height: 25px;
    width: 75%;
}

.rating{
    width: 50%;
    margin-top: 70px;
}

.rating-info{
    width: 55%;
    height: 40px;
    background-color: var(--neutral-light);
    color: var(--primary-dark);
    font-weight: 500;
    display: inline-block;
    justify-content: center;
    margin-bottom: 15px;
    padding: 20px 40px 0;
    border-radius: 7px;
}

.rating-info:nth-child(2){
    margin-left: 40px;
}

.rating-info:nth-child(3){
    margin-left: 80px;
}

.testimonials{
    width: 90%;
    height: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.testimonial-card{
    display: block;
    width: 26%;
    background-color: var(--primary-dark);
    border-radius: 7px;
    margin: auto;
    padding: 25px;
    color: white;
    font-weight: 400;
    line-height: 25px;
}

.testimonial-card:nth-child(1){
    margin-bottom: 75px;
}
.testimonial-card:nth-child(2){
    margin-bottom: 50px;
}

.testimonial-card:nth-child(3){
    margin-bottom: 25px;
}

.verified{
    font-weight: 400;
    color: var(--primary-soft);
}

.autor{
    display: flex;
}

.autor-img img{
    height: 50px;
    border-radius: 50%;
}

.autor-info p{
    margin: 0 0 0 15px;
    font-weight: 400;
}

.autor-info p:nth-child(1){
    font-weight: 500;
}

